<html lang="en">
    {% extends "base.html" %}

    {% load static %}

    {% block content %}
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
        <div class="contenedorFormulario">

            {% if "valido" in request.GET %}
                <p style="color:white">Informacion enviada correctamente</p>
            {% endif %}

            <form action="" method="POST" style="text-align: center;">
                {% csrf_token %}
                <table style="color:white; margin: 20px auto;">{{miFormulario.as_table}}</table>
                <input type="submit" value="Enviar" style="width: 150px;">
            </form>
        </div>
</body>
        <p style="color:snow;">{{request.POST}}</p>
    {% endblock %}
</html>