<html lang="en">
{% extends "base.html" %}

{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
</head>
<body>
    <div class="container">

        <div style="float:right;">
            <p style="color: white">Carro de compra</p>
        </div>

        <div class="row">
            {% for producto in productos %}
                <div class="col-md-3">
                    <div class="card" style="width: 100%; margin: 5px 5px;">
                        <img src="{{ producto.imagen.url }}" class="card-img-top">
                        <div class="card-body" style="text-align: center;">
                            <h7 class="card-title">{{ producto.nombre }}</h7>
                            <p class="card-text">{{ producto.precio }} €</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-success">Agregar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
</html>
