<html lang="en">
    {% extends "base.html" %}

    {% load static %}

    {% load crispy_forms_tags %}

    {% block content %}
<head>
    <meta charset="UTF-8">
    <title>Autenticacion</title>
</head>
<body>
    <form method="post" action="" style="color:white">
        {% csrf_token %}

        <div style="width: 75%; margin: auto;">
            {{form|crispy}}

            <button type="submit" class="btn btn-success">Login</button>
        </div>

    </form>
</body>
    {% endblock %}
</html>